// sass settings and variables

// breakpoints map for include-media.
$breakpoints: (
  xs: 650px,
  sm: 770px,
  lg: 1080px
);

// fonts
$font-header: "Verdana", "Geneva", sans-serif;
$font-body: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

// colors
$black: #000;
$white: #fff;
$gray-darker: #222;
$gray-dark: #555;
$gray: #888;
$gray-light: #bbb;
$gray-lighter: #f4f4f4;
$red: #cb3736;
$blue: #285b76;

// layout variables
$base: 18px; // our base font-size;
$mrg: 2rem; // most padding and margins should be a multiple of $mrg
$hmrg: 1rem;
$dmrg: 4rem;
$qmrg: 0.5rem;

$text: $gray-darker;
$bg: $gray-lighter;
