// sprite mixins.


@mixin sprite-bg-size($sprite) {
  $sprite-w: nth($sprite, 5);
  $sprite-h: nth($sprite, 6);
  background-size: $sprite-w  $sprite-h;
}

@mixin sprite-hw($sprite) {
  width: nth($sprite, 5);
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{'../images/'+ $sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-hw($sprite);
  background-repeat: no-repeat;
}

// for retina sprites
@mixin sprite2x($sprite, $sprite2x) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-hw($sprite);
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @include sprite-image($sprite2x);
    background-size: $spritesheet-width $spritesheet-height;
  }
}
