/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bigphoto-name: 'bigphoto';
$bigphoto-x: 0px;
$bigphoto-y: 0px;
$bigphoto-offset-x: 0px;
$bigphoto-offset-y: 0px;
$bigphoto-width: 500px;
$bigphoto-height: 332px;
$bigphoto-total-width: 500px;
$bigphoto-total-height: 482px;
$bigphoto-image: 'sprites.png';
$bigphoto: (0px, 0px, 0px, 0px, 500px, 332px, 500px, 482px, 'sprites.png', 'bigphoto', );
$monster-name: 'monster';
$monster-x: 0px;
$monster-y: 332px;
$monster-offset-x: 0px;
$monster-offset-y: -332px;
$monster-width: 150px;
$monster-height: 150px;
$monster-total-width: 500px;
$monster-total-height: 482px;
$monster-image: 'sprites.png';
$monster: (0px, 332px, 0px, -332px, 150px, 150px, 500px, 482px, 'sprites.png', 'monster', );
$sun-name: 'sun';
$sun-x: 150px;
$sun-y: 332px;
$sun-offset-x: -150px;
$sun-offset-y: -332px;
$sun-width: 43px;
$sun-height: 43px;
$sun-total-width: 500px;
$sun-total-height: 482px;
$sun-image: 'sprites.png';
$sun: (150px, 332px, -150px, -332px, 43px, 43px, 500px, 482px, 'sprites.png', 'sun', );
$bigphoto-2x-name: 'bigphoto@2x';
$bigphoto-2x-x: 0px;
$bigphoto-2x-y: 0px;
$bigphoto-2x-offset-x: 0px;
$bigphoto-2x-offset-y: 0px;
$bigphoto-2x-width: 1000px;
$bigphoto-2x-height: 664px;
$bigphoto-2x-total-width: 1000px;
$bigphoto-2x-total-height: 964px;
$bigphoto-2x-image: 'sprites@2x.png';
$bigphoto-2x: (0px, 0px, 0px, 0px, 1000px, 664px, 1000px, 964px, 'sprites@2x.png', 'bigphoto@2x', );
$monster-2x-name: 'monster@2x';
$monster-2x-x: 0px;
$monster-2x-y: 664px;
$monster-2x-offset-x: 0px;
$monster-2x-offset-y: -664px;
$monster-2x-width: 300px;
$monster-2x-height: 300px;
$monster-2x-total-width: 1000px;
$monster-2x-total-height: 964px;
$monster-2x-image: 'sprites@2x.png';
$monster-2x: (0px, 664px, 0px, -664px, 300px, 300px, 1000px, 964px, 'sprites@2x.png', 'monster@2x', );
$sun-2x-name: 'sun@2x';
$sun-2x-x: 300px;
$sun-2x-y: 664px;
$sun-2x-offset-x: -300px;
$sun-2x-offset-y: -664px;
$sun-2x-width: 86px;
$sun-2x-height: 86px;
$sun-2x-total-width: 1000px;
$sun-2x-total-height: 964px;
$sun-2x-image: 'sprites@2x.png';
$sun-2x: (300px, 664px, -300px, -664px, 86px, 86px, 1000px, 964px, 'sprites@2x.png', 'sun@2x', );
$spritesheet-width: 500px;
$spritesheet-height: 482px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($bigphoto, $monster, $sun, );
$spritesheet: (500px, 482px, 'sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1000px;
$retina-spritesheet-height: 964px;
$retina-spritesheet-image: 'sprites@2x.png';
$retina-spritesheet-sprites: ($bigphoto-2x, $monster-2x, $sun-2x, );
$retina-spritesheet: (1000px, 964px, 'sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$bigphoto-group-name: 'bigphoto';
$bigphoto-group: ('bigphoto', $bigphoto, $bigphoto-2x, );
$monster-group-name: 'monster';
$monster-group: ('monster', $monster, $monster-2x, );
$sun-group-name: 'sun';
$sun-group: ('sun', $sun, $sun-2x, );
$retina-groups: ($bigphoto-group, $monster-group, $sun-group, );


