/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bear-name: 'bear';
$bear-x: 161px;
$bear-y: 0px;
$bear-offset-x: -161px;
$bear-offset-y: 0px;
$bear-width: 109px;
$bear-height: 106px;
$bear-total-width: 270px;
$bear-total-height: 269px;
$bear-image: 'sprites.png';
$bear: (161px, 0px, -161px, 0px, 109px, 106px, 270px, 269px, 'sprites.png', 'bear', );
$deflect-name: 'deflect';
$deflect-x: 161px;
$deflect-y: 106px;
$deflect-offset-x: -161px;
$deflect-offset-y: -106px;
$deflect-width: 46px;
$deflect-height: 46px;
$deflect-total-width: 270px;
$deflect-total-height: 269px;
$deflect-image: 'sprites.png';
$deflect: (161px, 106px, -161px, -106px, 46px, 46px, 270px, 269px, 'sprites.png', 'deflect', );
$dragon-name: 'dragon';
$dragon-x: 0px;
$dragon-y: 0px;
$dragon-offset-x: 0px;
$dragon-offset-y: 0px;
$dragon-width: 161px;
$dragon-height: 184px;
$dragon-total-width: 270px;
$dragon-total-height: 269px;
$dragon-image: 'sprites.png';
$dragon: (0px, 0px, 0px, 0px, 161px, 184px, 270px, 269px, 'sprites.png', 'dragon', );
$sun-name: 'sun';
$sun-x: 0px;
$sun-y: 184px;
$sun-offset-x: 0px;
$sun-offset-y: -184px;
$sun-width: 85px;
$sun-height: 85px;
$sun-total-width: 270px;
$sun-total-height: 269px;
$sun-image: 'sprites.png';
$sun: (0px, 184px, 0px, -184px, 85px, 85px, 270px, 269px, 'sprites.png', 'sun', );
$spritesheet-width: 270px;
$spritesheet-height: 269px;
$spritesheet-image: 'sprites.png';
$spritesheet-sprites: ($bear, $deflect, $dragon, $sun, );
$spritesheet: (270px, 269px, 'sprites.png', $spritesheet-sprites, );


