// screen.scss
// ---
// main entry point and importer for screen styling sass files.
// the order of @import's here is important.

// NOTE: Vendor Libraries
// The vendor sass imported here is included already, and is not installed by npm.
// while this locks in the versions included, it also reduces a lot of the cruft added by these packages
// if you install them via npm, bundler, etc. Also, some of these libraries would require gem or bower or
// other package management systems to install, and I want to keep this entire front end stack as simple
// as possible and relying only on npm and node.

// bourbon v4.2.4: a powerful mixin library - http://bourbon.io/docs/
@import 'vendor/bourbon/bourbon';

// include-media v1.4.2: simple, powerful media queries - http://include-media.com/
@import 'vendor/include-media';

// overall site variables and settings.
@import 'settings';

// Comment the next line out if you don't have any sprites.
//
// To generate sprites, put sprite image files in assets/images/sprites/
// then run 'gulp sprites' to generate a spritesheet (assets/images/sprites.png)
// _sprites.scss will also be generated and placed in assets/scss/ automatically
//
// Use the sprite mixin:
//
//  @include sprite(name-of-sprite);
//
@import 'sprites';
@import 'sprite-mixins';

// any custom global mixins of our own creation.
@import 'mixins';

// overall global styling and general layout goes in here.
@import 'global';


// from here import other partials in a modular fashion,
// moving from general to more specific.
// @import 'components/header';
// @import 'components/login';
// @import 'components/footer';
// etc ...
