html {
  box-sizing: border-box;
  font-size: $base;
  background-color: $colorLight;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0.5rem 2rem;
  line-height: 1.4;
  font-family: $fontBody;
  color: $colorDark;
}

section {
  margin-bottom: 2rem;
}

.indent {
  margin-left: 1rem;
}
