html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: sans-serif;
  color: #222;
  background-color: #fff;
  margin: 24px; }

h1, h2, h3, p {
  margin-bottom: 12px; }

h1 {
  font-size: 48px;
  font-weight: 700; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 16px; }

b, strong, h4 {
  font-weight: 700; }

h5 {
  font-weight: 300; }

em, i {
  font-style: italic; }

code,
pre {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  color: #cb3736; }

small {
  font-size: 12.8px; }

big {
  font-size: 19.2px; }

section {
  margin-bottom: 24px; }

a {
  text-decoration: none;
  color: #285b76;
  transition: all 0.3s; }
  a:hover {
    text-decoration: underline;
    color: #4495c0; }

.indent {
  margin-left: 12px; }

.list {
  margin: 0 0 0 12px;
  padding: 0; }
  .list li {
    list-style-type: disc;
    margin-left: 12px;
    margin-bottom: 12px; }

.list.square li {
  list-style-type: square; }

.list.number li {
  list-style-type: decimal; }

.panel {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #e4e4e4;
  border-radius: 6px;
  border: 1px solid #bbb; }

.columns-3 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .columns-3::after {
    clear: both;
    content: "";
    display: table; }
  .columns-3 > .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .columns-3 > .column:last-child {
      margin-right: 0; }
    .columns-3 > .column:nth-child(3n) {
      margin-right: 0; }
    .columns-3 > .column:nth-child(3n+1) {
      clear: left; }
    @media (max-width: 970px) {
      .columns-3 > .column {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .columns-3 > .column:last-child {
          margin-right: 0; }
        .columns-3 > .column:nth-child(2n) {
          margin-right: 0; }
        .columns-3 > .column:nth-child(2n+1) {
          clear: left; } }
    @media (max-width: 750px) {
      .columns-3 > .column {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0; }
        .columns-3 > .column:last-child {
          margin-right: 0; } }

.sprite {
  display: inline-block;
  margin: 12px; }
  .sprite.bear {
    background-image: url("../images/sprites.png");
    background-position: -171px 0px;
    width: 109px;
    height: 106px; }
  .sprite.dragon {
    background-image: url("../images/sprites.png");
    background-position: 0px 0px;
    width: 161px;
    height: 184px; }
  .sprite.deflect {
    background-image: url("../images/sprites.png");
    background-position: -171px -116px;
    width: 46px;
    height: 46px; }
  .sprite.sun {
    background-image: url("../images/sprites.png");
    background-position: 0px -194px;
    width: 85px;
    height: 85px; }

/*# sourceMappingURL=screen.css.map */
